@import '../../../../node_modules/codemirror/lib/codemirror.css';
@import '../../../../node_modules/codemirror/theme/erlang-dark.css';

#leftPlayerContainer {
  box-shadow: 0px 0px 20px #00edff;
}

#rightPlayerContainer {
  box-shadow: 0px 0px 20px red;
}

.desc-cont {
  background-color: #223954;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.battleBody {
}
